@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
}
html {
  scroll-behavior: smooth
}
:root {
  --white: #fff;
  --black: #000;
  --violet: #6B02FF;
  --purple: #985BEF;
}
p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7c8595;
  margin-bottom: 15px;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}